<meta name='impact-site-verification' value='c28370fa-201a-4838-9219-f96e99f2f4f9'>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7D6366MSJC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7D6366MSJC');
</script>

{{ if $.Param "chart" -}}
{{ $chart := resources.Get "Chart.js" | minify | fingerprint -}}
<script defer src="{{ $chart.RelPermalink }}"></script>
{{ end -}} 